.modal {
    z-index: -10;
    opacity: 0;
    visibility: hidden;
    background: #000000cc;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__body {
    background: #fff;
    width: 30%;
    height: 30%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.catalog__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.catalog__item {
    height: 300px;
}

.catalog__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.catalog__filter {
    display: flex;
    gap: 20px;
    align-items: center;
}

.catalog__target {
    display: none;
}

.catalog__target:target {
    outline: 1px red solid;
}

.catalog__target:not(:target) ~ .catalog__item {
    position: static;
    width: auto;
    height: 300px;
    opacity: 1;
}

.catalog__target:target ~ .catalog__item {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

#filter\:red:target ~ [data-filter=red],
#filter\:green:target ~ [data-filter=green],
#filter\:blue:target ~ [data-filter=blue] {
    position: static;
    width: auto;
    height: 300px;
    opacity: 1;
}

.catalog__filter-button {
    background: #002366;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
}

.catalog__filter-hr {
    height: 20px;
    width: 2px;
    display: block;
}

.slider__slides {
    display: flex;
    overflow-x: hidden;
    align-items: normal;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider__slide {
    width: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.slider__img {
    width: 100%;
    border-radius: 20px;
    height: 600px;
    object-fit: cover;
}

.slider__controls {
    display: flex;
    gap: 20px;
}

.slider__thumb {
    width: 100px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    outline: 2px #063183 solid;
    outline-offset: 2px;
}

.previews__slider {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.slider__target {
    display: none;
}
